{% extends 'base.html.twig' %}

{% block body %}
    <h1>Astreintes</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ medical.id }}</td>
        </tr>
        <tr>
            <th>medicalimg</th>
            <td>{{ medical.medicalimg }}</td>
        </tr>
        <tr>
            <th>Titlemedical</th>
            <td>{{ medical.titlemedical }}</td>
        </tr>
        <tr>
            <th>Idmedical</th>
            <td>{{ medical.idmedical }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('documentation_astreintes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('documentation_astreintesmedical_edit', { 'id': medical.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(astreintes_delete_formmedical) }}
            <input type="submit" value="Delete">
            {{ form_end(astreintes_delete_formmedical) }}
        </li>
    </ul>
{% endblock %}
