{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="http://www.cssscript.com/wp-includes/css/sticky.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/hopital/css/style.css') }}">
{% endblock %}

{% block body %}
    <h1>Astreintes Medical edit</h1>
    {{ form_start(edit_form_medical) }}


    <li>
        <a href="{{ path('documentation_astreintesmedical_new') }}">Ajouter une astreinte</a>
    </li>


    <h2 class="titre">{{ medical.titlemedical }}</h2>
    <h2 class="titre">{{ medical.idmedical }}</h2>

    <div>
        <img src="{{ app.request.basepath }}/uploads/{{ medical.medicalimg }}"type="application/pdf" class="directioncommune"/>
        {{edit_form_medical.children.file2.vars.label}}
        {{ form_widget(edit_form_medical.file2) }}
        {{ form_errors(edit_form_medical.file2) }}
        {{ form_widget(edit_form_medical.medicalimg) }}
        {{ form_errors(edit_form_medical.medicalimg) }}
        {{ form_end(edit_form_medical) }}

        {{ form_widget(edit_form_medical) }}
        <input type="submit" value="Edit"/>
    </div>


    <ul>
        <li>
            <a href="{{ path('documentation_astreintes_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(edit_form_medical) }}
            {{ form_start(astreintes_delete_form_medical) }}
            <input type="submit" value="Delete">
            {{ form_end(astreintes_delete_form_medical) }}
            {{ form_end(edit_form_medical) }}
        </li>
        <li>
    </ul>
    {{ form_end(edit_form_medical) }}


    <br/>
    <br/>
{% endblock %}