{% extends 'base.html.twig' %}


{% block body %}

<div class="row">
    <div class="col-md-offset-2 col-md-8 fondblanc">
        <h1 class="lienstitrenew">Modification de l'astreite administratif</h1>
        <div class="row">
            <div class="col-md-offset-3 col-md-6 astreinte_carre">
                <div class="row">
                    <div class="col-md-12 imgnew">

                        {{ form_start(edit_form_administratif) }}
                        <div>
                            <img src="{{ app.request.basepath }}/uploads/{{ administratif.administratifimg }}" type="application/pdf" class="astreinteimg"/><br>

                            {{edit_form_administratif.children.file1.vars.label}}<br>
                            {{ form_widget(edit_form_administratif.file1) }}
                            {{ form_errors(edit_form_administratif.file1) }}
                            {{ form_widget(edit_form_administratif.administratifimg) }}
                            {{ form_errors(edit_form_administratif.administratifimg) }}
                            <h2 class="titre">{{ administratif.titleadministratif }}</h2><br>
                            {{ form_widget(edit_form_administratif) }}
                            <li>
                                <a href="{{ path('documentation_astreintesadministratif_new') }}">Ajouter une astreinte</a>
                            </li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-5 col-md-2 btneditcommun">
                            <input type="submit" class="btnedit" value="Modifier" />
                            {{ form_start(edit_form_administratif) }}
                            {{ form_start(astreintes_delete_form_administratif) }}
                            <input type="submit" class="btnedit" value="Supprimer">
                            {{ form_end(astreintes_delete_form_administratif) }}
                            {{ form_end(edit_form_administratif) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}









