{% extends 'base.html.twig' %}

{% block body %}
    <h1>Astreintes Technique</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ technique.id }}</td>
        </tr>
        <tr>
            <th>techniqueimg</th>
            <td>{{ technique.techniqueimg }}</td>
        </tr>
        <tr>
            <th>Titletechnique</th>
            <td>{{ technique.titletechnique }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('documentation_astreintes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('documentation_astreintestechnique_edit', { 'id': technique.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(astreintes_delete_formtechnique) }}
            <input type="submit" value="Delete">
            {{ form_end(astreintes_delete_formtechnique) }}
        </li>
    </ul>
{% endblock %}