{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="http://www.cssscript.com/wp-includes/css/sticky.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/hopital/css/style.css') }}">
{% endblock %}

{% block body %}
    <h1>Astreintes edit</h1>

    {{ form_start(edit_form) }}


    <h2 class="psyco_titre1">{{ astreintes.titleadministratif }}</h2>
    <div class="col-xs-offset-4 col-xs-4">
        <p class=>{{ form_widget(form.titleadministratif, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.titleadministratif) }}</p>
    </div>

    <div>
        <object data="{{ app.request.basepath }}/uploads/{{ astreintes.administratifimg }}"type="application/pdf" class="directioncommune"/>
        </object>
        {{edit_form.children.file1.vars.label}}
        {{ form_widget(edit_form.file1) }}
        {{ form_errors(edit_form.file1) }}
        {{ form_widget(edit_form.administratifimg) }}
        {{ form_errors(edit_form.administratifimg) }}
    </div>




    <h2 class="psyco_titre1">{{ astreintes.titlemedical }}</h2>
    <div class="col-xs-offset-4 col-xs-4">
        <p class=>{{ form_widget(form.titlemedical, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.titlemedical) }}</p>
    </div>

    <div>
        <object data="{{ app.request.basepath }}/uploads/{{ astreintes.medicalimg }}"type="application/pdf" class="directioncommune"/>
        </object>
        {{edit_form.children.file2.vars.label}}
        {{ form_widget(edit_form.file2) }}
        {{ form_errors(edit_form.file2) }}
        {{ form_widget(edit_form.medicalimg) }}
        {{ form_errors(edit_form.medicalimg) }}
    </div>





    <h2 class="psyco_titre1">{{ astreintes.titlecommune }}</h2>
    <div class="col-xs-offset-4 col-xs-4">
        <p class=>{{ form_widget(form.titlecommune, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.titlecommune) }}</p>
    </div>

    <div>
        <object data="{{ app.request.basepath }}/uploads/{{ astreintes.communeimg }}"type="application/pdf" class="directioncommune"/>
        </object>
        {{edit_form.children.file3.vars.label}}
        {{ form_widget(edit_form.file3) }}
        {{ form_errors(edit_form.file3) }}
        {{ form_widget(edit_form.communeimg) }}
        {{ form_errors(edit_form.communeimg) }}
    </div>





    <h2 class="psyco_titre1">{{ astreintes.titletechnique }}</h2>
    <div class="col-xs-offset-4 col-xs-4">
        <p class=>{{ form_widget(form.titletechnique, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.titletechnique) }}</p>
    </div>

    <div>
        <object data="{{ app.request.basepath }}/uploads/{{ astreintes.techniqueimg }}" type="application/pdf" class="directioncommune"/>
        </object>
        {{edit_form.children.file4.vars.label}}
        {{ form_widget(edit_form.file4) }}
        {{ form_errors(edit_form.file4) }}
        {{ form_widget(edit_form.techniqueimg) }}
        {{ form_errors(edit_form.techniqueimg) }}
    </div>






    <li>
        <a href="{{ path('documentation_astreintes_new') }}">Ajouter une astreinte</a>
    </li>



    {{ form_widget(edit_form) }}

    <input type="submit" value="Edit"/>

    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('documentation_astreintes_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(astreintes_delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(astreintes_delete_form) }}
        </li>
    </ul>




    {{ form_end(edit_form) }}


    <br/>
    <br/>
{% endblock %}
