{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8 fondblanc">
            <h1 class="lienstitre">Création Astreintes adminitratives</h1>
            <br>
            <div class="row journaux">
                <div class="col-md-4">
                    <br>
                    <br>
                    <br>
                    <br>
                    {{ form_start(formAdministratif) }}
                    {{ form_label(formAdministratif.idadministratif, 'Id de votre astreinte administrative:', {'idadministratif': {'class': 'idadministratif'}}) }}
                    {{ form_widget(formAdministratif.idadministratif)}}

                    {{ form_label(formAdministratif.titleadministratif, 'Titre de votre astreinte administrative:', {'titleadministratif': {'class': 'titleadministratif'}}) }}
                    {{ form_widget(formAdministratif.titleadministratif)}}
                    {{ form_label(formAdministratif.administratifimg, 'Nommez votre astreinte administrative:', {'administratifimg': {'class': 'administratifimg'}}) }}
                    {{ form_widget(formAdministratif.administratifimg)}}
                    {{ form_label(formAdministratif.file1, 'Insérez votre Pdf:', {'file1': {'class': 'file1'}}) }}
                    {{ form_widget(formAdministratif.file1)}}
                    <br>
                    <input type="submit" class="btn btn-primary btn-lg" value="Créer" />
                    {{ form_end(formAdministratif) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}