{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8 fondblancshow">
            <h1 class="lienstitrenew">Modifier la base documentaire</h1>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 carreeditid_note">
                    <div class="row">
                        <div class="col-md-12 imgnew">
                            {{ form_start(edit_form) }}
                            {{ form_label(edit_form.basedocimg, 'Nommez votre paqss:', {'basedocimg': {'class': 'basedocimg'}}) }}
                            {{ form_widget(edit_form.basedocimg)}}
                            {{ form_errors(edit_form.basedocimg) }}
                            {{ form_label(edit_form.file1, 'Insérez votre Pdf:', {'file1': {'class': 'file1'}}) }}
                            {{ form_widget(edit_form.file1)}}
                            {{ form_errors(edit_form.file1) }}<br>
                            {{ form_label(edit_form.division, 'Division:', {'division': {'class': 'division'}}) }}
                            {{ form_widget(edit_form.division)}}
                            {{ form_errors(edit_form.division) }}<br>
                        </div>
                    </div>
                    <div class="col-md-0 imgnew">
                        <input type="submit" class="btnnote" value="Modifier"/>
                        {{ form_end(edit_form) }}
                        {{ form_start(delete_form) }}
                        <input type="submit" class="btnnote" value="Supprimer">
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
