{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-2  col-md-8 fondblanc">
            <h1 class="lienstitre">Basedoc</h1>
            {% for division in divisions %}

                <a href="{{ path('documentation_basedoc_index_show', { 'id': division.id }) }}">
                    <div class="col-xs-12 btn btn-default bloc-categorie" data-target="{{ '#' ~ division.division }}">
                        {{ division.division }}

                    </div></a>


            {% endfor %}

    </div>

    {#<div id="{{ rubrique.rubrique }}" class="modal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>{{ rubrique.rubrique }}</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                {% for instances in instancess if instances.rubrique.id == rubrique.id %}
                                    <div class="col-xs-12 instancesimg">
                                        <object class="img-thumbnail" width="100%" height="auto" data="{{ app.request.basepath }}/uploads/{{ instances.instances1 }}"></object>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>#}

{% endblock %}
