{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
    <div class="col-md-offset-2 col-md-8 fondblanc">

        <div class="row">
            <div class="col-md-12">
                <h1 class="lienstitre">Base documentaire</h1>
            </div>
        </div>



        <div class="row">

            <!--Début archives basedoc-->

            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn basedocbtn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Archives
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        {% set maxId = 0 %}
                        {% for basedoc in basedocs %}
                            {% set maxId = max(basedoc.id, maxId) %}
                        {% endfor %}
                        {% for basedoc in basedocs %}
                            {% if basedoc.id != maxId %}
                                {% if basedoc.titlebasedoc != NULL %}
                                    <p data-toggle="modal" data-target="{{ '#' ~ basedoc.idbasedoc }}" class="archivestitres"> {{ basedoc.titlebasedoc }} </p>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!--Fin archives basedoc-->


            <!--Début nouvelles astreintes-->

            <div class="col-md-10">
                {% set maxId = 0 %}
                {% for basedoc in basedocs %}
                    {% set maxId = max(basedoc.id, maxId) %}
                {% endfor %}
                {% for basedoc in basedocs %}
                    {% if basedoc.id == maxId %}
                        <p>{{ basedoc.titlebasedoc }}</p>
                    {% endif %}
                    {% if basedoc.id == maxId %}
                        <object data="{{ app.request.basepath }}/uploads/{{ basedoc.basedocimg }}" type="application/pdf" class="journaux">
                        </object>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!--Fin nouvelles basedoc-->




        <!--Début modal basedoc-->

        {% for basedoc in basedocs %}
            <div id="{{ basedoc.idbasedoc }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content" style="height: 750px">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <br>
                        <br>
                        <br>
                        {% if basedoc.id != maxId %}
                            <object data="{{ app.request.basepath }}/uploads/{{ basedoc.basedocimg }}" type="application/pdf" class="modalarchivespdf">
                            </object>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

        <!--Fin modal basedoc-->



    </div>


{% endblock %}