{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8 fondblancshow">
            <h1 class="lienstitrenew">Création de contacts</h1>
            <br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 carrenewcontacts">
                    <div class="row">
                        <div class="col-md-12 imgnewid">
                            {{ form_start(form) }}
                            {{ form_label(form.contactsimg1, 'Nommez vos contacts:', {'contactsimg1': {'class': 'contactsimg1'}}) }}
                            {{ form_widget(form.contactsimg1)}}<br>
                            {{ form_label(form.file1, 'Insérez votre Pdf:', {'file1': {'class': 'file1'}}) }}
                            {{ form_widget(form.file1)}}<br>


                            {{ form_label(form.contactsimg2, 'Nommez vos contacts:', {'contactsimg2': {'class': 'contactsimg2'}}) }}
                            {{ form_widget(form.contactsimg2)}}
                            {{ form_label(form.file2, 'Insérez votre Pdf:', {'file2': {'class': 'file2'}}) }}
                            {{ form_widget(form.file2)}}
                            <br>

                            {{ form_label(form.contactsimg3, 'Nommez vos contacts:', {'contactsimg3': {'class': 'contactsimg3'}}) }}
                            {{ form_widget(form.contactsimg3)}}
                            {{ form_label(form.file3, 'Insérez votre Pdf:', {'file3': {'class': 'file3'}}) }}
                            {{ form_widget(form.file3)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-5 col-md-2">
                            <input type="submit" class="btnnew" value="Créer" />
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>



{% endblock %}
