{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-2  col-md-8 fondblanc2">
            <h1 class="lienstitre">Galerie photos</h1>
            <div class="c-wrapper">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">

                    </ol>




                    <!-- Wrapper for slides -->
                    <!--<div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="{{ asset('bundles/hopital/img/galerie/accueil_admissions_ frais_de_sejour.jpg') }}" alt="Accueil">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/activité_du_service_animation_1.jpg') }}" alt="Activité du service animation">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/activité_du_service_animation_2.jpg') }}" alt="Activité du service animation">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/activité_du_service_animation_3.jpg') }}" alt="Activité du service animation">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/activité_du_service_animation_5.jpg') }}" alt="Activité du service animation">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/activité_du_service_animation_6.jpg') }}" alt="Activité du service animation">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/activité_du_service_animation_7.jpg') }}" alt="Activité du service animation">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/Batiment_B_1.jpg') }}" alt="Batiment B">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/Batiment_B_2.jpg') }}" alt="Batiment B">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/Batiment_B_3.jpg') }}" alt="Batiment B">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/batiment_derriere_01.jpg') }}" alt="Batiment B">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/box_de_kinésithérapie.jpg') }}" alt="Box de kinesitherapie">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/camion_blanc_interr_01.jpg') }}" alt="Camion blanc">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/camion_blanc_interr_02.jpg') }}" alt="Camion blanc">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/camion_vert_01.jpg') }}" alt="Camion vert">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/chambre_du_service_de_médecine.jpg') }}" alt="Chambre du service de médecine">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/chambre_du_service_SSR.jpg') }}" alt="Chambre du service SSR">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/chambre_orée_du_bois_EHPAD.jpg') }}" alt="Chambre orée du bois EHPAD">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/coiffure.jpg') }}" alt="Coiffure">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/couloir_orée_du_bois_EHPAD.jpg') }}" alt="Couloir orée du bois EHPAD">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/entrée_administratif_01.jpg') }}" alt="Entrée administratif">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/entrée_medecin_01.jpg') }}" alt="Entrée médecin">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/entrée_medecin_02.jpg') }}" alt="Entrée médecin">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/entrée_soin_longue_durée01.jpg') }}" alt="Entrée soins longue durée">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/ESPACES_VERTS    _5.jpg') }}" alt="Espaces verts">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/ESPACES_VERTS_1.jpg') }}" alt="Espaces verts">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/ESPACES_VERTS_2.jpg') }}" alt="Espaces verts">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/ESPACES_VERTS_3.jpg') }}" alt="Espaces verts">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/ESPACES_VERTS_4.jpg') }}" alt="Espaces verts">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/ESPACES_VERTS_5.jpg') }}" alt="Espaces verts">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/ESPACES_VERTS_6.jpg') }}" alt="Espaces verts">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/hall_entrée_EHPAD.jpg') }}" alt="Hall d'entrée EHPAD">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/IMG_0162.JPG') }}" alt="">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/IMG_0165.JPG') }}" alt="">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/IMG_0166.JPG') }}" alt="">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/machines_à_laver_du_service_blanchisserie.jpg') }}" alt="Machines à laver service blanchisserie">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/P1060272.JPG') }}" alt="">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/P1060277.JPG') }}" alt="">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/paillote_bois_01.jpg') }}" alt="Paillote">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/paillote_bois_02.jpg') }}" alt="Paillote">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/paillote_bois_03.jpg') }}" alt="Paillote">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/parc_fontaine_01.jpg') }}" alt="Parc fontaine">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/presse_à_linge_du_service_blanchisserie.jpg') }}" alt="Presse à linge">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/salle_de_kinésithérapie_1.jpg') }}" alt="Salle de kiné">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/salle_de_kinésithérapie_2.jpg') }}" alt="Salle de kiné">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/Salle_à_manger_des_collines_du_perche_EHPAD.jpg') }}" alt="Salle à manger des collines du perche">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/service_medecine_IDE.jpg') }}" alt="Service médecine IDE">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/service_restauration_1.jpg') }}" alt="Service restauration">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/service_restauration_2.jpg') }}" alt="Service restauration">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/service_restauration_3.jpg') }}" alt="Service restauration">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/service_restauration_6.jpg') }}" alt="Service restauration">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/service_restauration_8.jpg') }}" alt="Service restauration">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/service_restauration_9.jpg') }}" alt="Service restauration">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/SSIAD.jpg') }}" alt="SSIAD">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/vegetation_02.jpg') }}" alt="Végétation">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/vegetation_03.jpg') }}" alt="Végétation">
                        </div>

                        <div class="item">
                            <img src="{{ asset('bundles/hopital/img/galerie/vegetation_04.jpg') }}" alt="Végétation">
                        </div>
                    </div>-->


                </div>
            </div>
        </div>
    </div>


{% endblock %}
