{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="center-align">{{ groupe.titre }}</h1>
        <div class="row">
            <div class="col s12 m6">

            </div>
        </div>
        <div class="row">
            <div class="col m6 s12">
                <div class="row">
                    {{ form_start(form) }}
                    <div class="input-field col s12">
                        {{ form_label(form.utilisateur) }}
                        {{ form_widget(form.utilisateur) }}
                        {{ form_errors(form.utilisateur) }}
                    </div>
                    <div class="input-field col s12">
                        {{ form_label(form.message) }}
                        {{ form_widget(form.message) }}
                        {{ form_errors(form.message) }}
                    </div>
                    <div class="add_button center-align">
                        <input class="waves-effect waves-light btn" type="submit" value="Ajouter un message" />
                    </div>
                    {{ form_end(form) }}
                </div>
                {% if groupemessage != null %}
                    <div class="row">
                        <h4 class="center-align">Liste des messages</h4>
                        {% for message in groupemessage %}
                            <div class="row">
                                <div class="col s12">
                                    <div class="card blue-grey darken-1">
                                        <div class="card-content white-text">
                                            <span class="card-title">Auteur: {{ message.utilisateur }}</span>
                                            <p>{{ message.message }}</p>
                                            {{ form_start(form) }}
                                            {{ form_widget(form.file) }}
                                            {{ form_end(form) }}
                                        </div>
                                        <div class="card-action">
                                            <a href="{{ path('documentation_groupe_delete', {'id': message.id, 'id_groupe': groupe.id }) }}">Supprimer le message</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <h4 class="center-align">Pas de messages</h4>
                {% endif %}
                <a href="{{ path('documentation_groupe_index') }}">Retour à la liste des groupes de travail</a>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {# Call jQuery #}
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
{% endblock %}
