{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-offset-2  col-md-8 fondblanc">

            <h1 class="lienstitre">Instances</h1>
            <br/>

            <object type="application/vnd.ms-excel"
                    data="data/test.xls" width="300" height="200">
                <a href="{{ asset('bundles/hopital/img/Instances/liste des instances.xls') }}">test.xls</a>
            </object>



        </div>
    </div>

    {#<table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for documentation in documentations %}
            <tr>
                <td><a href="{{ path('documentation_show', { 'id': documentation.id }) }}">{{ documentation.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('documentation_show', { 'id': documentation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('documentation_edit', { 'id': documentation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('documentation_new') }}">Create a new documentation</a>
        </li>
    </ul>#}
{% endblock %}
