{% extends 'base.html.twig' %}

{% block body %}
    <h1>Instances</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ instances.id }}</td>
        </tr>
        <tr>
            <th>Galerie1</th>
            <img src="{{ app.request.basepath }}/uploads/{{ instances.instances1 }}"/>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('documentation_instances_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('documentation_instances_edit', { 'id': instances.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}