{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
    <div class="col-md-offset-2 col-md-8 fondblanc">

        <div class="row">
            <div class="col-md-12">
                <h1 class="lienstitre">Journaux internes</h1>
            </div>
        </div>



        <div class="row">

            <!--Début archives journaux-->

            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn journauxbtn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Archives
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        {% set maxId = 0 %}
                        {% for journaux in journauxs %}
                            {% set maxId = max(journaux.id, maxId) %}
                        {% endfor %}
                        {% for journaux in journauxs %}
                            {% if journaux.id != maxId %}
                                {% if journaux.titlejournaux != NULL %}
                                    <p data-toggle="modal" data-target="{{ '#' ~ journaux.idjournaux }}" class="archivestitres"> {{ journaux.titlejournaux }} </p>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!--Fin archives journaux-->


            <!--Début nouvelles astreintes-->

            <div class="col-md-10">
                {% set maxId = 0 %}
                {% for journaux in journauxs %}
                    {% set maxId = max(journaux.id, maxId) %}
                {% endfor %}
                {% for journaux in journauxs %}
                    {% if journaux.id == maxId %}
                        <p>{{ journaux.titlejournaux }}</p>
                    {% endif %}
                    {% if journaux.id == maxId %}
                        <object data="{{ app.request.basepath }}/uploads/{{ journaux.journauximg }}" type="application/pdf" class="journaux">
                        </object>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!--Fin nouvelles journaux-->




        <!--Début modal journaux-->

        {% for journaux in journauxs %}
            <div id="{{ journaux.idjournaux }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content" style="height: 750px">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <br>
                        <br>
                        <br>
                        {% if journaux.id != maxId %}
                            <object data="{{ app.request.basepath }}/uploads/{{ journaux.journauximg }}" type="application/pdf" class="modalarchivespdf">
                            </object>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

        <!--Fin modal journaux-->



    </div>


{% endblock %}