{% extends 'base.html.twig' %}

{% block body %}


    <div class="row">
        <div class="col-md-offset-2 col-md-8 fondblanc">
            <h1 class="lienstitrenew">Modifier un journaux internes</h1>
            <br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 carreeditid_note">
                    <div class="row">
                        <div class="col-md-12 imgnew">
                            {{ form_start(edit_form) }}
                            {{edit_form.children.file1.vars.label}}
                            {{ form_label(edit_form.journauximg, 'Nommez votre journal:', {'journauximg': {'class': 'journauximg'}}) }}
                            {{ form_widget(edit_form.journauximg)}}
                            {{ form_errors(edit_form.journauximg) }}
                            {{ form_label(edit_form.file1, 'Insérez votre Pdf:', {'file1': {'class': 'file1'}}) }}
                            {{ form_widget(edit_form.file1)}}
                            {{ form_errors(edit_form.file1) }}
                        </div>
                    </div>
                    <div class="col-md-0 imgnew">
                        <input type="submit" class="btnnote" value="Modifier"/>
                        {{ form_end(edit_form) }}
                        {{ form_start(journaux_delete_form) }}
                        <input type="submit" class="btnnote" value="Supprimer">
                        {{ form_end(journaux_delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

{% endblock %}
