{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notes de services</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ noteservice.id }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('documentation_noteservice_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('documentation_noteservice_edit', { 'id': noteservice.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(noteservice_delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(noteservice_delete_form) }}
        </li>
    </ul>
{% endblock %}
