{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8 fondblanc">
            <h1 class="lienstitre">Modifier la galerie </h1>
            <br>
            {{ form_start(edit_form) }}
            <div class="row galerie">
                <div class="col-md-4">
                    <br>
                    <br>
                    <br>
                    <br>
                    {{edit_form.children.file1.vars.label}}
                    {{ form_label(edit_form.galerie1, 'Nommez votre galerie:', {'galerie1': {'class': 'galerie1'}}) }}
                    {{ form_widget(edit_form.galerie1)}}
                    {{ form_errors(edit_form.galerie1) }}
                    {{ form_label(edit_form.file1, 'Insérez votre Pdf:', {'file1': {'class': 'file1'}}) }}
                    {{ form_widget(edit_form.file1)}}
                    {{ form_errors(edit_form.file1) }}

                    <input type="submit" class="btn btn-primary btn-lg" value="Modifier"/>

                    {{ form_end(edit_form) }}


                    {{ form_start(galerie_delete_form) }}
                    <input type="submit" class="btn btn-primary btn-lg" value="Supprimer">
                    {{ form_end(galerie_delete_form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
