{% extends 'base.html.twig' %}

{% block body %}

    {% for anesm in anesms %}

        <div class="row">
            <div class="col-md-offset-2  col-md-8 fondblanc">
                <h1 class="lienstitre">{{ anesm.anesmtitle }}</h1>
                <h4 class="lienssoustitre">{{ anesm.anesmdescription }}</h4>
                <a href="{{ anesm.anesmurl }}" target="_blank">
                    <img src="{{ app.request.basepath }}/uploads/{{ anesm.anesmimg }}" alt="anesm" type="application/pdf" class="lienimg">
                    </img>
                </a>
            </div>
        </div>

    {% endfor %}

{% endblock %}