{% extends 'base.html.twig' %}

{% block body %}


    <div class="row">
        <div class="col-md-offset-2  col-md-8 fondblanc">

            <h1 class="lienstitre">ANESM</h1>
            <h4 class="lienssoustitre">Agence nationale de l'évaluation et de la qualité des établissements et services sociaux et médico-sociaux </h4>
            <a href="{{ asset('http://www.anesm.sante.gouv.fr/spip.php?article677&var_mode=calcul') }}"><img src={{ asset('bundles/hopital/img/ANESM.png') }} alt="anesm" class="lienimg"/></a>
            <a  href="{{ asset('http://www.anesm.sante.gouv.fr/spip.php?article677&var_mode=calcul') }}"><button type="button" class="btn btn-primary">Site de l'ANESM</button></a>

        </div>
    </div>



    {#<table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for recommandation in recommandations %}
            <tr>
                <td><a href="{{ path('recommandation_show', { 'id': recommandation.id }) }}">{{ recommandation.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('recommandation_show', { 'id': recommandation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('recommandation_edit', { 'id': recommandation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recommandation_new') }}">Create a new recommandation</a>
        </li>
    </ul>#}
{% endblock %}
