{% extends 'base.html.twig' %}

{% block body %}


    <div class="row">
        <div class="col-md-offset-2  col-md-8 fondblanc">

            <h1 class="lienstitre">Bulletin officiel</h1>
            <h4 class="lienssoustitre">Ministère des affaires sociales et de la santé</h4>
            <br/>
            <a href="{{ asset('http://social-sante.gouv.fr/ministere/documentation-et-publications-officielles/bulletins-officiels/article/bulletin-officiel-sante-protection-sociale-solidarites') }}"><img src="{{ asset('bundles/hopital/img/BulletinOff.png') }}" alt="bulettinoff" class="lienimg"/></a>

        </div>
    </div>

    {#<table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for recommandation in recommandations %}
            <tr>
                <td><a href="{{ path('recommandation_show', { 'id': recommandation.id }) }}">{{ recommandation.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('recommandation_show', { 'id': recommandation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('recommandation_edit', { 'id': recommandation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recommandation_new') }}">Create a new recommandation</a>
        </li>
    </ul>#}
{% endblock %}
