{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8 fondblanc">
            <h1 class="lienstitrenew">Modifier un Bulletin ofiiciel</h1>
            <br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 carreeditid_note">
                    <div class="row">
                        <div class="col-md-12 imgnew">
                            {{ form_start(edit_form) }}
                            {{ form_label(edit_form.bulletinofftitle, 'Titre de votre lien:', {'bulletinofftitle': {'class': 'bulletinofftitle'}}) }}
                            {{ form_widget(edit_form.bulletinofftitle) }}<br><br>
                            {{ form_errors(edit_form.bulletinofftitle) }}
                            {{ form_label(edit_form.bulletinoffimg, 'Description de votre lien:', {'bulletinoffdescription': {'class': 'bulletinoffdescription'}}) }}
                            {{ form_widget(edit_form.bulletinoffdescription) }}<br><br>
                            {{ form_errors(edit_form.bulletinoffdescription) }}

                            {{ form_label(edit_form.bulletinoffimg, 'Renommez votre image:', {'bulletinoffimg': {'class': 'bulletinoffimg'}}) }}

                            {{ edit_form.children.file1.vars.label }}

                            {{ form_widget(edit_form.bulletinoffimg) }}<br><br>
                            {{ form_errors(edit_form.bulletinoffimg) }}
                            {{ form_label(edit_form.file1, 'Insérez votre image:', {'file1': {'class': 'file1'}}) }}
                            {{ form_widget(edit_form.file1) }}<br><br>
                            {{ form_errors(edit_form.file1) }}
                            {{ form_label(edit_form.bulletinoffurl, 'Url de votre lien:', {'bulletinoffurl': {'class': 'bulletinoffurl'}}) }}
                            {{ form_widget(edit_form.bulletinoffurl) }}
                            {{ form_errors(edit_form.bulletinoffurl) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-5 col-md-2 btneditcommun">
                            <input type="submit" class="btnedit" value="Modifier" />
                            {{ form_end(edit_form) }}
                            {{ form_start(bulletinoff_delete_form) }}
                            <input type="submit" class="btnedit" value="Supprimer">
                            {{ form_end(bulletinoff_delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


