{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recommandations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recommandation in recommandations %}
            <tr>
                <td><a href="{{ path('recommandation_show', { 'id': recommandation.id }) }}">{{ recommandation.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('recommandation_show', { 'id': recommandation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('recommandation_edit', { 'id': recommandation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recommandation_new') }}">Create a new recommandation</a>
        </li>
    </ul>
{% endblock %}
