{% extends 'base.html.twig' %}

{% block body %}


    <div class="row">
        <div class="col-md-offset-2  col-md-8 fondblanc2">
            {% for journaloff in journaloffs %}
                <h1 class="lienstitre">{{ journaloff.journalofftitle }}</h1>
                <h4 class="lienssoustitre">{{ journaloff.journaloffdescription }}</h4>
                <a href="{{ journaloff.journaloffurl }}" target="_blank">
                    <img src="{{ app.request.basepath }}/uploads/{{ journaloff.journaloffimg }}" alt="journaloff" type="application/img" class="lienimg">
                    </img>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}