{% extends 'base.html.twig' %}

{% block body %}
    <h1>Journal Officiel</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ journaloff.id }}</td>
        </tr>
        <tr>
            <th>journaloffimg</th>
            <td>{{ journaloff.journaloffimg }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recommandation_journaloff_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('recommandation_journaloff_edit', { 'id': journaloff.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(journaloff_delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(journaloff_delete_form) }}
        </li>
    </ul>
{% endblock %}
