{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-offset-2 col-md-8 fondblanc">
        <h1 class="lienstitre">Modifier les pages jaunes</h1>
        <br>
        {{ form_start(edit_form) }}

        <div class="row journaux">
            <div class="col-md-4">
                <br>
                <br>
                <br>
                <br>
                {{ edit_form.children.file1.vars.label }}
                {{ form_label(edit_form.pagesjaunesimg, 'Nommez vos pages jaunes:', {'pagesjaunesimg': {'class': 'pagesjaunesimg'}}) }}
                {{ form_widget(edit_form.pagesjaunesimg) }}
                {{ form_errors(edit_form.pagesjaunesimg) }}
                {{ form_label(edit_form.file1, 'Insérez votre Pdf:', {'file1': {'class': 'file1'}}) }}
                {{ form_widget(edit_form.file1) }}
                {{ form_errors(edit_form.file1) }}

                <input type="submit" class="btn btn-primary btn-lg" value="Modifier"/>

                {{ form_end(edit_form) }}

                {{ form_start(pagesjaunes_delete_form) }}
                <input type="submit" class="btn btn-primary btn-lg" value="Supprimer">
                {{ form_end(pagesjaunes_delete_form) }}
            </div>
        </div>
    </div>
</div>

    </div>
{% endblock %}
