{% extends 'base.html.twig' %}

{% block body %}


    <div class="row">
        <div class="col-md-offset-2  col-md-8 fondblanc2">
            {% for covoiturage in covoiturages %}
                <h1 class="lienstitre">{{ covoiturage.covoituragetitle }}</h1>
                <h4 class="lienssoustitre">{{ covoiturage.covoituragedescription }}</h4>
                <a href="{{ covoiturage.covoiturageurl }}" target="_blank">
                    <img src="{{ app.request.basepath }}/uploads/{{ covoiturage.covoiturageimg }}" alt="covoiturage" type="application/pdf" class="lienimg">
                    </img>
                </a>
            {% endfor %}
        </div>
    </div>


{% endblock %}