{% extends 'base.html.twig' %}

{% block body %}

<!--Début Contact-->

    <div class="row">
        <div id="page-contact">
            <div class="col-md-offset-2  col-md-8 fondblanc">
                <br/>
                <h1 class="lienstitre">Boîte à idées</h1>
                <h4 class="lienssoustitre">Envoyez vos idées pour améliorer la vie à l'hôpital.</h4>
                <br/>
                <br/>
                <form action="{{  path('personnel_idees') }}" method="post">
                    <div class="form-group">
                        <input class="form-control objet" type="text" value="Objet" name="object" id="example-text-input">
                    </div>
                    <br/>
                    <div class="form-group message">
                        <label for="exampleTextarea" >Votre message :</label>
                        <textarea class="form-control" id="exampleTextarea" rows="10" name="message"></textarea>
                    </div>
                    <br/>
                    <div class="send">
                        <input type="submit" value="Envoyer" class="btn btn-succcess">
                    </div>
                </form>
            </div>
        </div>
    </div>





    {#<table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for personnel in personnels %}
            <tr>
                <td><a href="{{ path('personnel_show', { 'id': personnel.id }) }}">{{ personnel.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('personnel_show', { 'id': personnel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('personnel_edit', { 'id': personnel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('personnel_new') }}">Create a new personnel</a>
        </li>
    </ul>#}


{% endblock %}
