{% extends 'base.html.twig' %}

{% block body %}
    <h1>Boîte à idées</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for personnel in personnels %}
            <tr>
                <td><a href="{{ path('personnel_show', { 'id': personnel.id }) }}">{{ personnel.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('personnel_show', { 'id': personnel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('personnel_edit', { 'id': personnel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('personnel_new') }}">Create a new personnel</a>
        </li>
    </ul>
{% endblock %}
