{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8 fondblancshow">
            <h1 class="lienstitrenew">Modifier les menus</h1>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 carreeditid_plans">
                    <div class="row">
                        <div class="col-md-6 ">
                            <img class="img-thumbnail" src="{{ app.request.basepath }}/uploads/{{ menu.menu1img }}"/>
                            {{ form_start(edit_form) }}
                            {{edit_form.children.file1.vars.label}}
                            {{ form_widget(edit_form.file1) }}
                            {{ form_errors(edit_form.file1) }}<br><br>
                            {{ form_widget(edit_form.menu1img) }}
                            {{ form_errors(edit_form.menu1img) }}

                        </div>

                        <div class="col-md-6 ">
                            <img class="img-thumbnail" src="{{ app.request.basepath }}/uploads/{{ menu.menu2img }}"/>
                            {{edit_form.children.file1.vars.label}}
                            {{ form_widget(edit_form.file2) }}
                            {{ form_errors(edit_form.file2) }}<br><br>
                            {{ form_widget(edit_form.menu2img) }}
                            {{ form_errors(edit_form.menu2img) }}
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 ">
                            <img class="img-thumbnail" src="{{ app.request.basepath }}/uploads/{{ menu.menu3img }}"/>
                            {{edit_form.children.file1.vars.label}}
                            {{ form_widget(edit_form.file3) }}
                            {{ form_errors(edit_form.file3) }}<br><br>
                            {{ form_widget(edit_form.menu3img) }}
                            {{ form_errors(edit_form.menu3img) }}
                        </div>

                        <div class="col-md-6">
                            <img class="img-thumbnail" src="{{ app.request.basepath }}/uploads/{{ menu.menu4img }}"/>
                            {{edit_form.children.file1.vars.label}}
                            {{ form_widget(edit_form.file4) }}
                            {{ form_errors(edit_form.file4) }}<br><br>
                            {{ form_widget(edit_form.menu4img) }}
                            {{ form_errors(edit_form.menu4img) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 ">
                            <img class="img-thumbnail" src="{{ app.request.basepath }}/uploads/{{ menu.menuimgrempl }}"/>
                            {{edit_form.children.file5.vars.label}}
                            {{ form_widget(edit_form.file5) }}
                            {{ form_errors(edit_form.file5) }}<br><br>
                            {{ form_widget(edit_form.menuimgrempl) }}
                            {{ form_errors(edit_form.menuimgrempl) }}

                        </div>

                        <div class="col-md-6 ">
                            {{ form_widget(edit_form) }}

                        </div>
                    </div>

                    <div class="row" >
                        <div class="center-block col-md-3">
                            <div class="btneditcommun">
                                <input type="submit" class="btnedit" value="Modifier"/>
                                {{ form_start(menu_delete_form) }}
                                <input type="submit" class="btnedit" value="Supprimer">
                                {{ form_end(menu_delete_form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}


