{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8 fondblanc">
            <h1 class="lienstitrenew">Modification de planniciel</h1>
            <br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 carreeditid">
                    <div class="row">
                        <div class="col-md-12 imgnew">
                            {{ form_start(edit_form) }}
                            {{ planniciel.titre }}
                            {{ form_widget(edit_form.titre) }}
                            {{ form_errors(edit_form.titre) }}
                            {{edit_form.children.file1.vars.label}}
                            {{ form_widget(edit_form.file1) }}
                            {{ form_errors(edit_form.file1) }}
                            {{ form_widget(edit_form.planniciel1) }}
                            {{ form_errors(edit_form.planniciel1) }}
                            {{ form_widget(edit_form) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-5 col-md-2 btneditcommun">
                            <input type="submit" class="btnedit" value="Edit"/>
                            {{ form_end(edit_form) }}
                            {{ form_start(delete_form) }}
                            <input type="submit" class="btnedit" value="Delete">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

