{% extends 'base.html.twig' %}

{% block body %}


    <h1>Planniciel creation</h1>
    <img src="{{ app.request.basepath }}/uploads/{{ planniciel.planniciel1 }}"/>
    <table>
        <tbody>
        <tr>Id
            <th>{{ planniciel.id }}</th>
        </tr>

        <tr>
            <th>Titre</th>
            <td>{{ planniciel.titre }}</td>
        </tr>

        <tr>
            <th>Planniciel1</th>
            <td>{{ planniciel.planniciel1 }}</td>
        </tr>



        </tbody>
    </table>


    <ul>
        <li>
            <a href="{{ path('personnel_planniciel_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}