{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8 fondblancshow">
            <h1 class="lienstitrenew">Modification de planniciel</h1>
            <br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 carreplanniciel">
                    <div class="row">
                        <div class="col-md-12 imgnew">
                            {{ form_start(edit_form) }}

                            <h2>{{ planniciel.titre }}</h2>

                            {{ form_widget(edit_form.titre) }}
                            {{ form_errors(edit_form.titre) }}<br><br><br>

                            <div>
                                <img src="{{ app.request.basepath }}/uploads/{{ planniciel.planniciel1 }}" class="img-responsive"/><br>
                                {{edit_form.children.file1.vars.label}}
                                {{ form_widget(edit_form.file1) }}<br>
                                {{ form_errors(edit_form.file1) }}
                                {{ form_widget(edit_form.planniciel1) }}
                                {{ form_errors(edit_form.planniciel1) }}
                                {{ form_widget(edit_form) }}<br>
                            </div>

                            <div class="text-center">
                                <input type="submit" class="btnedit" value="Modifer"/>
                                {{ form_end(edit_form) }}
                                {{ form_start(delete_form) }}
                                <input type="submit" class="btnedit" value="Supprimer">
                                {{ form_end(delete_form) }}
                                <a href="{{ path('personnel_planniciel_index') }}">Retour à l'index</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}