{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-offset-2 col-md-8 fondblanc">
        <h1 class="lienstitre">Annonces postes vacants edit</h1>
        {{ form_start(edit_form) }}
        <div class="row journaux">
            <div class="col-md-4">
                <object data="{{ asset('bundles/hopital/img/journaux/16_07FlashInfo.pdf') }}" type="application/pdf" class="journalimg"></object>
                {{edit_form.children.file1.vars.label}}
                {{ form_widget(edit_form.file1) }}
                {{ form_errors(edit_form.file1) }}
                {{ form_widget(edit_form.postvacantimg) }}
                {{ form_errors(edit_form.postvacantimg) }}
            </div>
            <li>
                <a href="{{ path('personnel_postvacant_new') }}">Ajouter une annonce poste vacant</a>
            </li>
            {{ form_widget(edit_form) }}

            <input type="submit" value="Edit"/>

            {{ form_end(edit_form) }}

            <ul>
                <li>
                    <a href="{{ path('personnel_postvacant_index') }}">Back to the list</a>
                </li>
                <li>
                    {{ form_start(postvacant_delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(postvacant_delete_form) }}
                </li>
            </ul>




            {{ form_end(edit_form) }}


            <br/>
            <br/>



            {% endblock %}
