{% extends 'base.html.twig' %}

{% block body %}
    <h1>Presentation edit</h1>

    {{ form_start(edit_form) }}

    <div class="row">
        <img src="{{ app.request.basepath }}/uploads/{{ plans.plansglobal }}" class="img col-xs-6">
        <div class="col-xs-6">
            <div class="form-group row photo">
                <label for="example-text-input" class="form-label col-xs-4">Nom de la photo :</label>
                <div class="col-xs-6">
                    {{ form_widget(form.plansglobal, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.plansglobal) }}
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            {{ form_widget(form.file1) }}
            {{ form_errors(form.file1) }}
        </div>
    </div>













        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('presentation_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
