{% extends 'base.html.twig' %}

{% block body %}



        <div class="row">
        <div class="col-md-offset-2 col-md-8 fondblanc1">
            <h3 class="lienstitre">Livret d'accueil</h3>

            <div class="flipbook-viewport">
                <div class="container" style="margin-left: 50px;">
                    <div class="flipbook">
                        {% for livret in livrets %}

                        <img src="{{ app.request.basepath }}/uploads/{{ livret.livretimg }}"/>

                        {% endfor %}

                    </div>
                </div>
            </div>


            <div class="row center-block" style="margin-top: 1%;">
                <a class="bouton_dl" href="{{ asset('bundles/hopital/img/Livret/Livret_Accueil.pdf') }}">Télécharger PDF</a>
            </div>

        </div>
    </div>



    {#{{ app.request.basepath }}/uploads/{{ livret.livretimg }}#}
{% endblock %}



    {% block javascripts %}

        {{ parent() }}

        <script src="{{ asset('bundles/hopital/js/jquery.min.1.7.js') }}"></script>
        <script src="{{ asset('bundles/hopital/js/modernizr.2.5.3.min.js') }}"></script>
        <script src="{{ asset('bundles/hopital/js/turn.js') }}"></script>
        <script src="{{ asset('bundles/hopital/js/basic.js') }}"></script>

        <script>
            // Create the flipbook

            $('.flipbook').turn({
                // Width
                width:912,

                // Height
                height:640,

                // Elevation
                elevation: 60,

                // Enable gradients
                gradients: false,

                // Auto center this flipbook
                autoCenter: true

            });

        </script>
    {% endblock %}
