{% extends 'base.html.twig' %}

{% block body %}
    <h1>Organigramme</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ organigramme.id }}</td>
        </tr>
        <tr>
            <th>organigrammeimg</th>
            <td>{{ organigramme.organigrammeimg }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('presentation_organigramme_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('presentation_organigramme_edit', { 'id': organigramme.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(organigramme_delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(organigramme_delete_form) }}
        </li>
    </ul>
{% endblock %}
