{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8 fondblanc">
            <h1 class="lienstitrenew">Création Organigramme</h1>
            <br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 carrenewid">
                    <div class="row">
                        <div class="col-md-12 imgnewid">
                    {{ form_start(form) }}
                    {{ form_label(form.organigrammeimg, 'Nommez votre image:', {'organigrammeimg': {'class': 'organigrammeimg'}}) }}<br><br>
                    {{ form_widget(form.organigrammeimg)}}<br>
                    {{ form_label(form.file7, 'Insérez votre image:', {'file7': {'class': 'file7'}}) }}<br>
                    {{ form_widget(form.file7)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-5 col-md-2">
                    <input type="submit" class="btn btn-primary btn-lg" value="Créer" />
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}