{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8 fondblanc">
            <h1 class="lienstitre">Modifiaction d'organigramme</h1>
            <br>
            <div class="row journaux">
                <div class="col-md-4">
                    <br>
                    <br>
                    <br>
                    <br>
                    {{ form_start(edit_form) }}
                    {{ form_label(edit_form.organigrammeimg, 'Nommez votre organigramme:', {'organigrammeimg': {'class': ''}}) }}
                    {{ form_widget(edit_form.organigrammeimg)}}
                    {{ form_label(edit_form.file7, 'Insérez votre Pdf:', {'file7': {'class': 'file7'}}) }}
                    {{ form_widget(edit_form.file7)}}
                    <br>
                    <input type="submit" class="btn btn-primary btn-lg" value="Modifier" />
                    {{ form_end(edit_form) }}


                        {{ form_start(organigramme_delete_form) }}
                        <input type="submit" class="btn btn-primary btn-lg" value="Supprimer">
                        {{ form_end(organigramme_delete_form) }}

                </div>
            </div>

        </div>
    </div>

{% endblock %}
