{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-offset-2  col-md-8">

            <h1 class="lienstitre">Organigramme</h1>
            <br/>

            <iframe class="orga_pdf" src="{{ asset('bundles/hopital/img/Organnigrame/Organigramme.pdf') }}" width="100%" height="500px"></iframe>

        </div>
            </div>

    <!--<table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>-->


        {% for presentation in presentations %}
            <tr>
                <td><a href="{{ path('presentation_show', { 'id': presentation.id }) }}">{{ presentation.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('presentation_show', { 'id': presentation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('presentation_edit', { 'id': presentation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
    <!--</tbody>
    </table>-->

    <!--<ul>
        <li>
            <a href="{{ path('presentation_new') }}">Create a new presentation</a>
        </li>
    </ul>-->

{% endblock %}
