{% extends 'base.html.twig' %}

{% block body %}
    <body>

    {% for accueil in accueils %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="row">
                <div class="col-md-6" id="nouveautes">
                    <ul id="news">
                        {% for message in messagesToDisplay %}
                            <li><a href="{{ path(message.route) }}">{{ message.text }}</a></li>
                        {% endfor %}
                    </ul>
                </div>


                <div class="row">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-6 actu">
                                <div class="jumbotron">
                                    <h3>ACTUALITÉS</h3>
                                    <p class="actuliens">
                                        <script type="text/javascript" src="{{ accueil.actuurl }}" data-fw-param="{{ accueil.actuparam }}">
                                        </script>
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="utiles">
                                    <h3>LIENS UTILES</h3>
                                    <a href="{{ path('fos_user_security_login') }}">- Calendrier des réservations</a><br>
                                    <a href="{{ accueil.dgsurl}}" target="_blank">{{ accueil.dgstitle }}</a><br>
                                    <a href="{{ accueil.bluemediurl}}" target="_blank">{{ accueil.bluemedititle }}</a><br>
                                    <a href="{{ accueil.viatrajectoirurl}}" target="_blank">{{ accueil.viatrajectoirtitle }}</a><br>
                                    <a href="{{ accueil.vidalurl}}" target="_blank">{{ accueil.vidaltitle }}</a><br>
                                </div>
                                <div class=" meteo">
                                    <p class="alerte"><iframe src="{{ accueil.meteourl }}"  width="380" height="111" frameborder="0"></iframe></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    </body>
{% endblock %}
