{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset ('bundles/vlagenda/css/fullcalendar.css')}}"/>

{% endblock %}

{% block body %}

    <div class="calendar">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 fondcalendar">
        {# {% if is_granted("ROLE_SUPER_ADMIN") %}#}
                <br>
        <h1 class="lienstitre">Agenda des Ressources</h1>

        <div class="row edit_admin">
            <div class="col-md-10 col-md-offset-1">
                <a class="btn btn-default edit_admin calendarbtn" href="{{ path('events_new') }}">Ajouter un évènement</a>
                <a class="btn btn-default edit_admin calendarbtn" href="{{ path('show_all_events') }}">Administrer tous les évènements</a>
            </div>
        </div>
        {# {% endif %}#}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div id='calendar'></div>
            </div>
        </div>

        <div id="fullCalModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                        <h6 id="modalTime" class="modal-title"></h6>
                    </div>
                    <div class="modal-header">
                        <h6 id="modalTitle" class="modal-title"></h6>
                    </div>

                    <div id="modalBody" class="modal-body">
                        <p id="text_event"></p>
                        <div id="imgevent"></div>
                    </div>
                    <div class="modal-footer">
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <a href="#" id="delete_event" class="btn btn-default">Supprimer</a>
                            <a href="#" id="edit_event" class="btn btn-primary">Modifier</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

        </div>
    </div>

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script>
        var asset = '{{ asset('') }}';
        {% if app.user == null %}
        var roles = null;
        {% else %}
        var roles = {{ app.user.roles|json_encode|raw }};
        {% endif %}
    </script>
    {#Appel JS Calendar#}
    <script src="{{ asset('bundles/vlagenda/js/1moment.min.js') }}"></script>
    <script src="{{ asset('bundles/vlagenda/js/2fullcalendar.js') }}"></script>
    <script src="{{ asset('bundles/vlagenda/js/3calendarconfig.js') }}"></script>
    <script src="{{ asset('bundles/vlagenda/js/lang/fr.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

{% endblock %}
