{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-offset-2 col-md-8 fondblanc">
        <h1 class="lienstitrenew">Modifier une photo de l'epp</h1>
        <div class="row">
            <div class="col-md-offset-3 col-md-6 carreeditid">
                <div class="row">
                    <div class="col-md-12 imgnew">
                        {{ form_start(edit_form) }}
                        {{edit_form.children.file1.vars.label}}
                        {{ form_label(edit_form.epp1, 'Nommez votre epp:', {'epp1': {'class': 'epp1'}}) }}
                        {{ form_widget(edit_form.epp1)}}
                        {{ form_errors(edit_form.epp1) }}
                        {{ form_label(edit_form.file1, 'Insérez votre Pdf:', {'file1': {'class': 'file1'}}) }}
                        {{ form_widget(edit_form.file1)}}
                        {{ form_errors(edit_form.file1) }}
                        {{ form_label(edit_form.rubrique, 'Rubrique:', {'rubrique': {'class': 'rubrique'}}) }}
                        {{ form_widget(edit_form.rubrique)}}
                        {{ form_errors(edit_form.rubrique) }}
                    </div>
                    <div class="row">
                        <div class="col-md-offset-5 col-md-2 btneditcommun">
                            <input type="submit" class="btnedit" value="Modifier"/>
                            {{ form_end(edit_form) }}

                            {{ form_start(delete_form) }}
                            <input type="submit" class="btnedit" value="Supprimer">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}



