{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-2  col-md-8 fondblanc">
            <h1 class="lienstitre">Instances</h1>
            {% for division in divisions %}

                <a href="{{ path('demarches_paqss_index_show', { 'id': division.id }) }}">
                    <div class="col-xs-12 btn btn-default bloc-categorie" data-target="{{ '#' ~ division.division }}">
                        {{ division.division }}

                    </div></a>


            {% endfor %}


        </div>

    </div>


    {#<div id="{{ division.division }}" class="modal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>{{ division.division }}</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                {% for paqss in paqsss if paqss.division.id == division.id %}
                                    <div class="col-xs-12 paqssimg">
                                        <object class="img-thumbnail" width="100%" height="auto" data="{{ app.request.basepath }}/uploads/{{ paqss.paqss1 }}"></object>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>#}

{% endblock %}
