{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
    <div class="col-md-offset-2 col-md-8 fondblanc">
        <h1 class="lienstitrenew">Modifier une rubrique de paqss</h1>
        <br>
        <div class="row">
            <div class="col-md-offset-3 col-md-6 carreeditid">
                <div class="row">
                    <div class="col-md-12 imgnew">
                        {{ form_start(edit_form) }}
                        {{ form_label(edit_form.division, 'Nommez votre division:', {'division': {'class': 'division'}}) }}
                        {{ form_widget(edit_form.division)}}
                        {{ form_errors(edit_form.division) }}

                    </div>
                    <div class="row">
                        <div class="col-md-offset-5 col-md-2 btneditcommun">
                            <input type="submit" class="btnedit" value="Modifier"/>
                            {{ form_end(edit_form) }}
                            {{ form_start(delete_form) }}
                            <input type="submit" class="btnedit" value="Supprimer">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}