{% extends 'base.html.twig' %}

{% block body %}
    <h1>Processus</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ processus.id }}</td>
        </tr>
        <tr>
            <th>Processus1</th>
            <img src="{{ app.request.basepath }}/uploads/{{ processus.processus1 }}"/>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('demarches_processus_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('demarches_processus_edit', { 'id': processus.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}