{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8 fondblanc">
            <h1 class="lienstitrenew">Modifier l'arcticle</h1>
            <br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 carreeditid_note">
                    <div class="row">
                        <div class="col-md-12 imgnew">
                            {{ form_start(edit_form) }}
                            {{edit_form.children.file4.vars.label}}
                            {{ form_label(edit_form.articlesimg, 'Nommez votre article:', {'articlesimg': {'class': 'articlesimg'}}) }}
                            {{ form_widget(edit_form.articlesimg)}}
                            {{ form_errors(edit_form.articlesimg) }}
                            {{ form_label(edit_form.file4, 'Insérez votre PDF:', {'file4': {'class': 'file1'}}) }}
                            {{ form_widget(edit_form.file4)}}
                            {{ form_errors(edit_form.file4) }}
                        </div>
                    </div>
                    <div class="col-md-0 imgnew">
                        <input type="submit" class="btnnote" value="Modifier"/>
                        {{ form_end(edit_form) }}
                        {{ form_start(articles_delete_form) }}
                        <input type="submit" class="btnnote" value="Supprimer">
                        {{ form_end(articles_delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

