{% extends 'base.html.twig' %}

{% block body %}
    <h1>Direction</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ direction.id }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('communication_direction_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('communication_direction_edit', { 'id': direction.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(direction_delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(direction_delete_form) }}
        </li>
    </ul>
{% endblock %}
