{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lettres d'information de Chartres</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ lettreinfo.id }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('communication_lettreinfo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('communication_lettreinfo_edit', { 'id': lettreinfo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(lettreinfo_delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(lettreinfo_delete_form) }}
        </li>
    </ul>
{% endblock %}
