{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8 fondblanc">
            <h1 class="lienstitrenew">Ajout d'une lettre d'information</h1>
            <br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 carrenewid">
                    <div class="row">
                        <div class="col-md-12 imgnewid">
                            {{ form_start(form) }}
                            {{ form_label(form.lettreinfoimg, 'Nommez votre lettre d\'\information:') }}<br>
                            {{ form_widget(form.lettreinfoimg)}}<br>
                            {{ form_label(form.file1, 'Insérez votre Pdf:') }}<br>
                            {{ form_widget(form.file1)}}<br>
                            {{ form_label(form.idlettreinfo, 'Id de votre lettre d\'\information:') }}<br>
                            {{ form_widget(form.idlettreinfo)}}<br>
                            {{ form_label(form.titlelettreinfo, 'Titre de votre lettre d\'\information:') }}<br>
                            {{ form_widget(form.titlelettreinfo)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-5 col-md-2">
                            <input type="submit" value="Créer" class="btnnew" />
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}