{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liens sites creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('communication_lienssites_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8 fondblanc">
            <h1 class="lienstitrenew">Création des liens vers les établissements</h1>
            <br>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 carrenewid">
                    <div class="row">
                        <div class="col-md-12 imgnewid">
                            {{ form_start(form) }}
                            {{ form_label(form.noteserviceimg, 'Nommez votre note de service:') }}<br>
                            {{ form_widget(form.noteserviceimg)}}<br><br>
                            {{ form_label(form.file1, 'Insérez votre Pdf:', {'file1': {'class': 'file1'}}) }}
                            {{ form_widget(form.file1)}}<br>
                            {{ form_label(form.titlenoteservice, 'Titre de la note de service:', {'file1': {'class': 'file1'}}) }}<br>
                            {{ form_widget(form.titlenoteservice)}}<br>
                            {{ form_label(form.idnoteservice, 'Id de la note de service:', {'file1': {'class': 'file1'}}) }}<br>
                            {{ form_widget(form.idnoteservice)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-5 col-md-2">
                            <input type="submit" value="Create" class="btnnew" />
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
