{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liens Sites</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ lienssites.id }}</td>
        </tr>
        <tr>
            <th>sitechartres</th>
            <td>{{ lienssites.sitechartres }}</td>
        </tr>
        <tr>
            <th>sitenogent</th>
            <td>{{ lienssites.sitenogent }}</td>
        </tr>
        <tr>
            <th>sitedreux</th>
            <td>{{ lienssites.sitedreux }}</td>
        </tr>
        <tr>
            <th>sitebonneval</th>
            <td>{{ lienssites.sitebonneval }}</td>
        </tr>
        <tr>
            <th>sitechateaudun</th>
            <td>{{ lienssites.sitechateaudun }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('communication_lienssites_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('communication_lienssites_edit', { 'id': lienssites.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(lienssites_delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(lienssites_delete_form) }}
        </li>
    </ul>
{% endblock %}
