{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8 fondblancshow">
            <h1 class="lienstitrenew">Modifier la petite annonce {{ annonce.titre }}</h1>
            <br>
            <div class="row">
                <div class="col-md-offset-2 col-md-8 carreshowannonce">
                    {{ form_start(edit_form) }}
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_label(edit_form.titre, 'Titre à votre annonce:') }}<br>
                            {{ form_widget(edit_form.titre) }}<br>
                            {{ form_errors(edit_form.titre) }}
                            {{ form_label(edit_form.auteur, 'Votre nom:') }}<br>
                            {{ form_widget(edit_form.auteur) }}<br>
                            {{ form_errors(edit_form.auteur) }}
                            {{ form_label(edit_form.description, 'Description de votre annonce:') }}<br>
                            {{ form_widget(edit_form.description) }}<br>
                            {{ form_errors(edit_form.description) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_label(edit_form.prix, 'Prix:') }}<br>
                            {{ form_widget(edit_form.prix) }}<br>
                            {{ form_errors(edit_form.prix) }}<br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <img src="{{ app.request.basepath }}/uploads/{{ annonce.image }}" alt="image actuelle" class="imgannonceedit">
                        </div>
                        <div class="col-md-5">
                            {{ form_label(edit_form.file, 'Modifier votre image', {'image': {'class': 'imgage'}}) }}
                            {{ form_widget(edit_form.file) }}
                        </div>
                    </div>
                    <div>
                        <input class="btnmodifannonce" type="submit" value="Modifier l'annonce"/>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
            <br>
            <div class="add_button center-align">
                <a class="btnannonceretours" href="{{ path('annonce_index') }}">Retour à la liste des annonces</a>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Call jQuery #}
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
{% endblock %}
