{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8 fondblanc">
            <h1 class="lienstitrenew">Ajouter une annonce pour les Amicales</h1>
            <br>
            <div class="row">
                <div class="col-md-offset-2 col-md-8 carreneannonce">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_label(form.titre, 'Titre à votre annonce:') }}<br>
                            {{ form_widget(form.titre) }}<br>
                            {{ form_errors(form.titre) }}
                            {{ form_label(form.auteur, 'Votre nom:') }}<br>
                            {{ form_widget(form.auteur) }}<br>
                            {{ form_errors(form.auteur) }}
                            {{ form_label(form.description, 'Description de votre annonce:') }}
                            {{ form_widget(form.description) }}
                            {{ form_errors(form.description) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_label(form.prix, 'Prix:') }}<br>
                            {{ form_widget(form.prix) }}<br>
                            {{ form_errors(form.prix) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_label(form.file, 'Insérez votre image:', {'file1': {'class': 'file1'}}) }}
                            {{ form_widget(form.file)}}<br>
                            {{ form_errors(form.file) }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <input class="annoncenewbtn1" type="submit" value="Ajouter l'annonce" />
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Call jQuery #}
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
{% endblock %}
