{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8 fondblanc">
            <br>

            <div class="container">
                <h1 class="lienstitre">{{ amicale.titre }}</h1>

                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ app.request.basepath }}/uploads/{{ amicale.image }}" alt="annonce"
                                     class="imgannonce">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row commentaireannonce">
                            <div class="card-content auteurannonce">
                                <p><span>Auteur : </span>{{ amicale.auteur }}</p>
                                <p><span>Description : </span>{{ amicale.description }}</p>
                                <p><span>Prix : </span>{{ amicale.prix }}</p>
                            </div>
                            {{ form_start(form) }}
                            <div class="input-field caseannonce">
                                {{ form_label(form.utilisateur) }}
                                {{ form_widget(form.utilisateur) }}
                                {{ form_errors(form.utilisateur) }}
                            </div>
                            <div class="input-field">
                                {{ form_label(form.message) }}
                                {{ form_widget(form.message) }}
                                {{ form_errors(form.message) }}
                            </div>
                            <div class="add_button center-align">
                                <input class="btn" type="submit"
                                       value="Ajouter le commentaire"/>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        {% if commentaire != null %}
                            <div class="row commentaireancien">
                                {% for message in commentaire %}
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="card blue-grey darken-1">
                                                <div class="card-content white-text">
                                                    <p>Auteur: {{ message.utilisateur }}</p>
                                                    <p>{{ message.message }}</p>
                                                </div>
                                            </div>
                                            </br></br>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <h6 class="center-align"> Il n'y a pas de commentaires</h6>
                        {% endif %}
                        <div class="add_button center-align">
                            <a class="waves-effect waves-light btn" href="{{ path('annonce_indexAmicale') }}">Retour à la liste des annonces</a>
                        </div></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {# Call jQuery #}
    <script src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
{% endblock %}