{% extends 'base.html.twig' %}


{% block body %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8 fondblancshow">
            <br>
            <div class="container">
                <h1 class="lienstitre">Supprimer/modifier des annonces du cgos</h1>
                {% if cgoss != null %}

                <div class="row">
                    <div class="col-md-12 ">
                        {% for cgos in cgoss %}
                            <div class="row carrelisteannonce">
                                <div class="col-md-5">
                                    <td ><img src="{{ app.request.basepath }}/uploads/{{ cgos.image }}" alt="annonce" class="line_img"></td>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-9 ">
                                            <p class="desc">{{ cgos.titre }}</p>
                                            <td><strong>Auteur : </strong>{{ cgos.auteur }}</td>
                                        </div>
                                        <div class="col-md-2 prixannonce">
                                            <td>{{ cgos.prix }} €</td>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 descriptionannonce">
                                            <td>{{ cgos.description }}</td>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-ofsset-4 col-md-8">
                                            <td>
                                                <a class="btneditannonce" href="{{ path('annonce_editCgos', { 'id': cgos.id }) }}">Modifier</a>
                                                <a class="btneditannonce" href="{{ path('annonce_deleteCgos', { 'id': cgos.id }) }}">Supprimer</a>
                                            </td>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% else %}
                            <h4>Il n'y a pas d'annonces</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Call jQuery #}
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
{% endblock %}
