{% extends 'base.html.twig' %}

{#{% block body %}
    <h1>Event</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{% if event.start %}{{ event.start|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{% if event.end %}{{ event.end|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ event.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ event.contenu }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>{{ event.images }}</td>
            </tr>
            <tr>
                <th>Addhomeactu</th>
                <td>{% if event.addHomeActu %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Salle</th>
                <td>{{ event.salle }}</td>
            </tr>
            <tr>
                <th>Voiture</th>
                <td>{{ event.voiture }}</td>
            </tr>
            <tr>
                <th>Evenement</th>
                <td>{{ event.evenement }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('events_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('events_edit', { 'id': event.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}#}


{% block stylesheets %}
        {{ parent }}
    <link href="{{ asset('bundles/vlagenda/css/fullcalendar.css') }}" rel='stylesheet' />
    <link href='../fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <style>

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }

    </style>
{% endblock %}
{% block body %}

    <div id='calendar'></div>

{% endblock %}
{% block javascripts %}
    {{ parent }}
    <script src="{{ asset('bundles/vlagenda/js/1moment.min.js') }}"></script>
    <script src="{{ asset('bundles/vlagenda/js/jquery-3.0.0.min.js') }}"></script>
    <script src="{{ asset('bundles/vlagenda/js/2fullcalendar.js') }}"></script>
    <script>

        $(document).ready(function() {

            $('#calendar').fullCalendar({
                defaultDate: '2016-12-12',
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {
                        title: 'All Day Event',
                        start: '2016-12-01'
                    },
                    {
                        title: 'Long Event',
                        start: '2016-12-07',
                        end: '2016-12-10'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: '2016-12-09T16:00:00'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: '2016-12-16T16:00:00'
                    },
                    {
                        title: 'Conference',
                        start: '2016-12-11',
                        end: '2016-12-13'
                    },
                    {
                        title: 'Meeting',
                        start: '2016-12-12T10:30:00',
                        end: '2016-12-12T12:30:00'
                    },
                    {
                        title: 'Lunch',
                        start: '2016-12-12T12:00:00'
                    },
                    {
                        title: 'Meeting',
                        start: '2016-12-12T14:30:00'
                    },
                    {
                        title: 'Happy Hour',
                        start: '2016-12-12T17:30:00'
                    },
                    {
                        title: 'Dinner',
                        start: '2016-12-12T20:00:00'
                    },
                    {
                        title: 'Birthday Party',
                        start: '2016-12-13T07:00:00'
                    },
                    {
                        title: 'Click for Google',
                        url: 'http://google.com/',
                        start: '2016-12-28'
                    }
                ]
            });

        });

    </script>
{% endblock %}


